[submodule "medimux-server"]
	path = medimux-server
	url = https://github.com/yusufakdenizxd/medimux-server.git

[submodule "medimux-client"]
	path = medimux-client
	url = https://github.com/yusufakdenizxd/medimux-client.git
